body { margin: 0; }

/***********************************/
/*        Side Menu Projects       */
/***********************************/
.gm-project__container {
  display: block;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  opacity: .87;
}

.gm-project__title {
  display: flex !important;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  padding: 16px 40px;
}

.gm-project__container .material-icons {
  margin-right: 32px;
}

.gm-project__open .material-icons {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  transform: translate(0,0);
  transition: transform 0.3s, top 0.1s;
}

.gm-project__container .gm-project__file {
  padding-left: 64px !important;
  cursor: pointer;
}

.gm-project__container a {
  color: rgba(255, 255, 255, 0.56);
  text-decoration: none;
}

.gm-project__container .gm-project__file:hover a {
  color: #37474F;
}

.rotate-180 {
  transform: rotate(180deg) !important;
}

.gm-project__container .rotate-180 {
  top: -2px !important;
}

.file-field-wrapper {
  display: flex;
  margin-top: 10px;
}

.gm-layout-spacer {
  flex-grow: 1;
}

.hidden {
  display: none;
}
