.brand-logo {
	padding-left: 20px !important;
	font-weight: 500;
}

.button-collapse {
	padding-left: 8px;
}


li {
	margin-right: 20px;
}

html, body {
	overflow-y: hidden;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#buttons {
	position: absolute;
	right: 0px;
	top: 38% !important;
}

li {
	margin-top: 5px;
}

.page-footer {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0px;
    height: 140px;
	border-top: solid gray;
	background-color: white !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
	-webkit-transition: max-height 0.5s display inline;
    transition: max-height 0.5s display inline;
    display: none;
}

#less-toggle, #more-toggle {
	color: gray;
}

.row-toggle {
	text-align: center;
}

.toggle-footer {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	border-top: solid gray;
	background-color: white !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
	-webkit-transition: display none;
    transition: display none;
    display: inline;
}

.toggle-footer.active {
    display: none;
}

.page-footer.active {
    max-height: 140px;
    display: inline;
}

#correlation {
	font-size: 18px;
}

#mini {
	font-size: 12px;
	color: gray;
	margin-top: 0px;
}

.range-field {
	margin-top: 0px;
}

.footerButtons {
	margin-left: 30px !important;
}

.align-button {
	margin-top: 35px;
	text-align: center;
}

.footbutt {
	color: black;
}

.icon-text {
	font-size: 18px;
}

#slider {
	margin-top: 22px;
}

#plus {
	font-size: 35px;
}

#sort {
	-webkit-transform: rotate(-90deg) scaleY(-1);
	font-size: 35px;
}

#search {
	font-size: 10px;
}


/* To align icons with text in footer */
.material-icons, .icon-text {
	vertical-align: middle;
}

.row {
	margin-bottom: 0px;
}

/* Margins from left of window and navbar */

#chart {
	margin-left: 50px;
	margin-top: 50px;
}

/* Change color of cell on hover */

.highlight:hover {
	fill: #5FB53F !important;
	opacity: 0.8 !important;
}

/* Make pointer a hand on matrix pan */

svg:active{
	cursor: pointer;
	cursor: hand;
}


.marquee {
    fill-opacity: 0.4;
    stroke: #000;
    stroke-dasharray:2,4;
    vector-effect:non-scaling-stroke; /* not for FF */
}


#map-background {
	stroke: #111111;
    stroke-width: 4px;
    fill-opacity: 0.6;
    fill: #fff;
    cursor: move;
}

.tooltip, .selector {
  	background: #eee;
  	box-shadow: 0 0 5px #999999;
  	color: #333;
  	font-size: 12px;
 	padding: 10px;
  	text-align: center;
  	width: 200px;
  	z-index: 10;
}

.btn-flat {
	width: 50%;
}

#cancel {
	color: #e57373;
}

#add {
	color: #4db6ac;
}